[Unit]
Description=Nutriquant - Akıllı Yemek Tartısı
After=network.target graphical.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/nutriquant
ExecStart=/home/pi/nutriquant/start-pi.sh
Restart=on-failure
RestartSec=10
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"

[Install]
WantedBy=graphical.target
